<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <title>AudioSuite</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://kit.fontawesome.com/9aacd84831.js" crossorigin="anonymous"></script>
</head>
<body style="height: 100vh; width: 100%;">
    <header class="fixed-top">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">AudioSuite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#informacion">Información</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#galeria">Galeria</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contactanos">Contactanos</a>
                    </li>
                  </ul>
                </div>
            </div>
          </nav>
    </header>

    <div id="home" class="container home-content pb-5 pt-5">
        <main data-aos="fade-right" class=" p-5 pb-5">
            <div>   
                <h1>!<b>Gracias</b> por Visitar <b>AudioSuite</b>!</h1>
                <p>El mejor sonido para tus eventos, fiestas y de más...</p>
                <h3>Contamos con:</h3>
                <ul>
                    <li>Cabina de Audio</li>
                    <li>Pista de Baile</li>
                    <li>Mobiliario</li>
                    <li>Pantallas</li>
                    <li>Animación</li>
                    <li>Increible Iluminación</li>
                    <li>Pirotecnía</li>
                </ul>
                <p>Tenemos todo lo necesario para <b>ambientar</b> tu celebración y hacer de esta el mejor dia de tu vida!!</p>
            </div>
        </main>
        <section data-aos="fade-left" class="imagenHome">
            <div>
                <a href="#contactanos">Contactanos <i class="fa-solid fa-phone"></i></a>
                <a href="#galeria">Ver Galeria <i class="fa-solid fa-image"></i></a>
            </div>
        </section>
    </div>

    <div class="separador"></div>

        <section id="informacion" class="container pt-5 pb-5">
            <h2 class="text-dark title text-center" data-aos="fade-up">Información de Audio Suite</h2>
            <div class="mvcontent">
                <img src="./img/mision y vision.png" alt="">
                <div>
                    <article data-aos="zoom-in-up">
                        <h3><i class="fa-solid fa-flag"></i> Mision de la Empresa</h3>
                        <p>Crecer junto a nuestros clientes sin perder calidad en el servicio, creando la mejor imagen a sus eventos, complaciendo y satisfaciendo sus necesidades en cada momento.</p>
                        <p>Una empresa con aproximadamente 10 años de experiencia profesional en el mercado. Contamos con equipo de audio, video, mobiliario, luces, etc., en renta para el evento de sus sueños.</p>
                    </article>
                    <article data-aos="zoom-in-up">
                        <h3><i class="fa-solid fa-eye"></i> Visión de la Empresa</h3>
                        <p>Ser la empresa más grande de toda la región (en el sector), incorporando nuevos servicios, innovando y teniendo el mejor equipo en el mercado.</p>
                        <p>Realizamos de todo tipo de eventos masivos, entre ellos incluso emos recibido Dj´s internacionales. Contamos con el equipo necesario para la mejor experiencia de su vida. Eventos, bodas, XV años, y más.</p>
                    </article>
                </div>
            </div>
        </section>
    
    <div class="separador"></div>

        <section id="galeria" class="galery container pt-5 pb-5">
            <h2 class="title" data-aos="fade-up">Galeria de Fotos <b>AudioSuite</b></h2>
            <div>
                <img class="img" data-aos="fade-up-right" src="/img/galery/img1.jpeg">
                <img class="img" data-aos="fade-up" src="/img/galery/img2.jpeg">
                <img class="img" data-aos="fade-up-left" src="/img/galery/img3.jpeg">
                <img class="img" data-aos="fade-up-right" src="/img/galery/img4.jpeg">
                <img class="img" data-aos="fade-up" src="/img/galery/img5.jpeg">
                <img class="img" data-aos="fade-up-left" src="/img/galery/img6.jpeg">
                <img class="img" data-aos="fade-up-right" src="/img/galery/img7.jpeg">
                <img class="img" data-aos="fade-up" src="/img/galery/img8.jpeg">
                <img class="img" data-aos="fade-up-left" src="/img/galery/img9.jpeg">
                <img class="img" data-aos="fade-up-right" src="/img/galery/img10.jpeg">
                <img class="img" data-aos="fade-up" src="/img/galery/img11.jpeg">
                <img class="img" data-aos="fade-up-left" src="/img/galery/img12.jpg">
            </div>
        </section>
        <footer id="contactanos">
            <svg xmlns="http://www.w3.org/2000/svg" width="1920.024" height="139.781" viewBox="0 0 1920.024 139.781">
                <path id="Trazado_1" data-name="Trazado 1" d="M457.456,238.743c265.6,21.018,224.737,44.266,604.932,65.283S1722.131,191.918,1920,208.684c-.03.322.066,137.7,0,138.316H0V219.956S191.859,217.725,457.456,238.743Z" transform="translate(0 -207.219)" fill="#141617"/>
              </svg>
              
              <div class="container text-light">
                <h1 class="text-center" data-aos="fade-up">Siguenos por Nuestras Redes Sociales</h1>
                <br>
                <div class="redes">
                    <a href="https://www.facebook.com/bodasenixtapamx/" data-aos="zoom-in"><img src="/img/facebook.png" alt="">Facebook 
                    </a>
                    <a data-aos="zoom-in"><img src="/img/whats.png" alt="">Whatsapp
                    </a>
                    <a href="https://www.instagram.com/audiosuitemx/?hl=bg" data-aos="zoom-in"><img src="/img/insta.png" alt="">Instagram 
                    </a>
                </div>                
              </div>

        </footer>
        <script>
            AOS.init();
          </script>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>